/* You can add global styles to this file, and also import other style files */
body {
  padding: 20px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background-image: url("assets/images/bg.jpg");
}

ul {
  list-style: none;
  padding: 0;
li {
  margin: 5px;
}
}

input {
  outline: none;
}

a, a:visited {
  text-decoration: none;
  color: coral;
}
